<div class="span4">
    <ul class="resultlist">
        <li>
            <h2><%= @coupon.name %></h2>
            <p><%= @coupon.description %></p>
            <p><%= @coupon.terms %></p>
            <p><%= @coupon.disclaimer %></p>
            <% if @coupon.expiration? %>
                <p><em>Expiration: <%= @coupon.end_date.strftime('%m/%d/%Y') %></b></em>
            <% end %>
        </li>
    </ul>
</ul>