<div class="span4">
    <ul class="resultlist">
        <li>
            <h2><%= @coupon.name %></h2>
            <p><%= @coupon.description %></p>
            <p><%= @coupon.terms %></p>
            <p><%= @coupon.disclaimer %></p>
            <p>Expiration: <%= @coupon.end_date %></p>
        </li>
    </ul>
</ul>