<div class="span4">
    <ul class="resultlist">
        <% @coupons.each do |c| %>
        <li>
            <h2><%= c.name %></h2>
            <p><%= c.description %></p>
            <a class="btn btn-success btn-mini" href="/home/coupon?id=<%= c.id %>&company_id=<%= c.company_id %>" onclick="return wwwh_openPage('/home/coupon?id=<%= c.id %>&company_id=<%= c.company_id %>')">Details and printing</a>
        </li>
        <% end %>
    </ul>
</ul>