    <div class="span12">
        <ul class="resultlist">
            <% @companies.each do |c| %>
            <a href="/home/coupons?company_id=<%= c.id %>" onclick="return wwwh_openPage('/home/coupons?company_id=<%= c.id %>')">
			<li><%= c.name %><span class="muted addressResult"><br>
		    <%= c.address %> 
		    <% if (c.distance > 0) %>
		        (<%= number_with_precision(c.distance, :precision => 2) %> miles)
		    <% else %>
		        <b>(You are here!)</b>
		    <% end %>
		        <i class="icons-chevron-right"></i></span>
		    </li>
        	</a>
            <% end %>
        </ul>
    </div>