
<!DOCTYPE html>
<html lang="en">
  <head>


    <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
    <%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>

    <%= stylesheet_link_tag    "coupons", :media => "all" %>
    <%= stylesheet_link_tag    "couponsmobile", :media => "all" %>

    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "bootstrap-transition" %>
    <%= javascript_include_tag "bootstrap-alert" %>
    <%= javascript_include_tag "bootstrap-modal" %>
    <%= javascript_include_tag "bootstrap-dropdown" %>
    <%= javascript_include_tag "bootstrap-scrollspy" %>
    <%= javascript_include_tag "bootstrap-tab" %>
    <%= javascript_include_tag "bootstrap-tooltip" %>
    <%= javascript_include_tag "bootstrap-popover" %>
    <%= javascript_include_tag "bootstrap-button" %>
    <%= javascript_include_tag "bootstrap-collapse" %>
    <%= javascript_include_tag "bootstrap-carousel" %>
    <%= javascript_include_tag "bootstrap-typeahead" %>
    <meta charset="utf-8">
    <title>808 Coupons</title>
     
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/icons/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/apple-touch-icon-57-precomposed.png">
  </head>

  <body background="/assets/bodybg_all.jpg">

<div class="navbar navbar-fixed-top" >
      
      <div class="navbar-inner" id="topLogo">
    
        <div class="container">
        <!-- hide 1
         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
      -->
  <a class="topLogoIndex" style="border:none" href="index.html"><%= image_tag "logo_top_1.png" %></a>
         
             	 
         
           <!--hide 2
      
          <div class="nav-collapse">
             
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            
          </div> -->	
       </div><!--/.nav-collapse -->
       
      </div>
    </div>
    

<div class="nav-collapse">
 
        </div>
  <div class="globalwrap">



        <!-- modal starts here -->




      <!-- start contact modal-->
      <div id="contactsModal" class="modal hide fade">
                  <div class="modal-header">
                    <a class="close" data-dismiss="modal" >&times;</a>
                    <h3>Contact Us</h3>
                  </div>
                  <div class="modal-body">
                    <!-- start modal form here -->
                    Call 808 
                    <!-- end modal form -->
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal" >Close</a>
                  </div>
                </div>
               <!-- end contact modal -->


               <!-- start contact modal-->
      <div id="termsModal" class="modal hide fade">
                  <div class="modal-header">
                    <a class="close" data-dismiss="modal" >&times;</a>
                    <h3>Terms and Conditions</h3>
                  </div>
                  <div class="modal-body">
                    <h4>Text in a modal</h4>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>

                    <h4>Popover in a modal</h4>
                    <p>This <a href="#" class="btn popover-test" title="A Title" data-content="And here's some amazing content. It's very engaging. right?">button</a> should trigger a popover on hover.</p>

                    <h4>Tooltips in a modal</h4>
                    <p><a href="#" class="tooltip-test" title="Tooltip">This link</a> and <a href="#" class="tooltip-test" title="Tooltip">that link</a> should have tooltips on hover.</p>

                    <hr>

                    <h4>Overflowing text to show optional scrollbar</h4>
                    <p>We set a fixed <code>max-height</code> on the <code>.modal-body</code>. Watch it overflow with all this extra lorem ipsum text we've included.</p>
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal" >Close</a>
                    <a href="#" class="btn btn-primary">Save changes</a>
                  </div>
                </div>
               <!-- end contact modal -->



               <!-- end modal here -->

               <script type="text/javascript">
               function showError(error) {
                   console.log(error)
               }

               function loadPage(url, data, back) {
                   if (typeof(data) === undefined) {
                       data = ''
                   }
                   if (typeof(back) === undefined) {
                       back = false;
                   }
                   $.ajax(url, {
                       data: data
                   }).done(function(response) {
                           $('#content').html(response)
                           back = false
                           $('#content').css('position','relative');
                       	//Move the DIV to the right 400px
                       	//Unless We're going back to a page, then move DIV to the left -400px (So it'll slide to the right)
                       	$('#content').css('left',(back ? -400:400));
                       	//Now animate the DIV to move back to the Left 400px
                       	//Back to its original position
                           $('#content').animate({left:0},'fast','linear',function(){
                       		//On completion of the animation set the DIV back to static
                       		$('#content').css('position','static');
                       	});

                       console.log(response)
                   });
               }
               function showDeals(position) {
                   loadPage('/home/nearby', 'lat=' + position.coords.latitude + '&lon=' + position.coords.longitude, false)

               }

               </script>


    <div class="container">
        <div id="content">
            <%= yield %>
        </div>

        <hr size="1px" class="hr">
        
        <footer>
            <p>&copy; 808 Coupons 2012. All rights reserved.      </p>
            <p><a data-toggle="modal" href="#contactsModal">Contact Us</a> | <a a data-toggle="modal" href="#termsModal">Terms and Conditions</a></p>
        </footer>
    </div>
    
    
    
    
    
    
    
    
    </div>
</div> <!-- /container -->

<script>

!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

</script>
  </body>
</html>
